//Bootstrap:
// $large: 1200px;
// $desktop: 992px;
// $tablet: 768px;
// $phone: 480px;

$large: 1200px;
$desktop: 900px;
$tablet: 600px;
$phone: 420px;

/*
 * BREAK POINTS
 *
 * Large < #{$large}
 * Desktop < #{$desktop}
 * Tablet < #{$tablet}
 * Phone < #{$phone}
 *
*/

@mixin large {
  @media (max-width: $large) { @content; }
}

@mixin desktop {
  @media (max-width: $desktop) { @content; }
}

@mixin tablet {
  @media (max-width: $tablet) { @content; }
}

@mixin phone {
  @media (max-width: $phone ) { @content; }
}
