@import 'common/_media';
@import 'common/_mixin';

*, *:before, *:after {
  box-sizing: border-box;
}



html {
  height: 100%;
}

body {
  height: 100%;
}

// import
@import 'common/_header';
@import 'common/_footer';

input[type=text],
input[type=submit],
button {
  outline: none;
  display: block;
}