// CLEARFIX
@mixin clearfix {
  &:after {
    content: ''; display: block;
    height: 0; clear: both; visibility: hidden; }
}

// PLACEHOLDER
@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &:-moz-placeholder { @content; }
}

// PSEUDO
@mixin pseudo {
  content: ''; display: block; position: absolute;
}

@mixin unipic {
  position: relative; overflow: hidden;
  & > img {
    position: absolute;
    min-width: 100%; max-width: 110%;
    min-height: 100%;
    top: 50%; left: 50%; transform: translate(-50%,-50%);
  }
}