block variable
doctype html
html(lang="ru")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="author", content="https://freelance.ru/Nadin85/")
  meta(name="description", content="")
  meta(name="keywords", content="")

  title #{title}
  link(rel="stylesheet", href="assets/css/foundation.css")
  link(rel="stylesheet", href="assets/css/app.css")
body

  mixin fa(icon)
    i(class="fa fa-" +icon, aria-hidden="true")
  mixin svg(className, icon)
    svg(class= className): use(xlink:href="/assets/images/sprite.svg#" + icon)
  mixin uniPic(className, imgPath)
    div(class="uniPic " + className): img(src= imgPath)
    

  include global/header.pug

  block content

  // scripts
  script(src="assets/js/foundation.js")
  script(src="assets/js/app.js")
