block variable
doctype html
html(lang="ru")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="author", content="https://freelance.ru/Nadin85/")
  meta(name="description", content="")
  meta(name="keywords", content="")

  title #{title}
  link(rel="stylesheet", href="assets/css/foundation.css")
  link(rel="stylesheet", href="assets/css/app.css")
body

  include global/header.pug

  block content

  // scripts
  script(src="assets/js/foundation.js")
  script(src="assets/js/app.js")