// CLEARFIX
@mixin clfix {
  &:after {
    content: ''; display: block;
    height: 0; clear: both; visibility: hidden; }
}

@mixin cbox {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

// PLACEHOLDER
@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &:-moz-placeholder { @content; }
}

// PSEUDO
@mixin pseudo {
  content: ''; display: block; position: absolute;
}

// TRANSITION
@mixin transition {
  transition: all 0.25s linear;
}

@mixin unipic {
  position: relative; overflow: hidden;
  & > img {
    position: absolute;
    min-width: 100%;
    min-height: 100%; max-height: 100%;
    top: 50%; left: 50%; transform: translate(-50%,-50%);
  }
}

.hamburger {
  position: relative;
  height: 16px; width: 24px;
  span, &:before, &:after {
    @include pseudo;
    width: 100%;
    height: 4px;
    background: #000;
    border-radius: 4px;
  }
  &:before {
    top: 0;
  }
  span {
    top: 6px;
  }
  &:after {
    bottom: 0;
  }

  &.active {
    span {
      background: none;
    }
    &:before {
      top: 6px;
      transform: rotate(45deg);
    }
    &:after {
      top: 6px;
      transform: rotate(-45deg);
    }
  }
}