// SETTINGS

  // FONTS


  // COLORS
  $color-prime: ;
  $color-text: ;

  $color-error: #b71c1c;
  $color-success: #388e3c;

  // TEXT
  $text: 16px;

  // CONTAINER
  $width: 1170px;

  // BREACKPOINTS

  //Bootstrap:
    // $large: 1200px;
    // $desktop: 992px;
    // $tablet: 768px;
    // $phone: 480px;

  $large: 1200px;
  $desktop: 900px;
  $tablet: 640px;
  $phone: 480px;

  /*
  * BREAK POINTS
  *
  * Large < #{$large} (lg)
  * Desktop < #{$desktop} (md)
  * Tablet < #{$tablet} (sm)
  * Phone < #{$phone} (xs)
  *
  */