@import '_settings';
@import '_framework';

html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  @include desktop {
    font-size: 14px;
  }
  @include tablet {
    font-size: 12px;
  }
  @include phone {
    font-size: 11px;
  }
}

body {
  height: 100%;
  font-family: ;
  color: ;
  font-weight: ;
  position: relative;
}

@import '_elements';

.container {
  max-width: $width;
  margin: 0 auto;
}

// import